<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestTenta</title>
    <environment names="Development">
        <script src="~/Scripts/jquery.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment names="Production">
        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </environment>
</head>
<body>
    <h1>TestTenta</h1>
    <hr />
    <div>
        @RenderBody()
    </div>
</body>
</html>
